@charset "UTF-8";
body {
  /*
    Có nhi?u ?? phân gi?i theo các màn hình t? smartphone, tablet, pc
    320, 375, 414, 480, 568, 601, 640, 667, 736, 768, 800, 906, 1024, 1200, 1280, 1360, 1366 tr? lên
    L?y chu?n nh? nh?t là 320 cho tr??ng h?p smartphone d?ng d?c r?i chia theo kho?ng
/*================??i v?i T?t Thành code b?n pc tr??c, vì v?y s? vi?t ng??c t? to v? bé nh? sau================*/
  /*css m?c ??nh dành cho tr??ng h?p pc 1360, 1366px tr? lên*/ }
  body h3 {
    text-transform: uppercase; }
  body .fa {
    margin-right: 5px; }
  body .cb {
    clear: both; }
  body #header p {
    padding-top: 8px; }
  body #header .top {
    color: #ffffff;
    background: #e41e26;
    font-family: 'Roboto', sans-serif;
    height: 36px; }
    body #header .top .left {
      width: 17% !important; }
    body #header .top .right {
      text-align: right;
      width: 33% !important; }
      body #header .top .right input {
        border: none;
        margin-top: 8px;
        background: none; }
      body #header .top .right ::placeholder {
        color: #fff; }
  body #header .bottom {
    height: 0; }
    body #header .bottom .row {
      padding-top: 10px; }
      body #header .bottom .row .center .menu {
        display: inline-block;
        margin-top: 35px; }
        body #header .bottom .row .center .menu ul {
          -webkit-padding-start: 0px; }
          body #header .bottom .row .center .menu ul li {
            list-style-type: none;
            display: inline-block; }
            body #header .bottom .row .center .menu ul li a {
              padding: 15px 18px 20px 0;
              font-family: 'Roboto';
              font-size: 15px;
              font-weight: bold;
              font-stretch: condensed;
              text-transform: uppercase;
              text-decoration: none;
              color: #333333; }
              body #header .bottom .row .center .menu ul li a:hover {
                color: #e31e24; }
            body #header .bottom .row .center .menu ul li .curent {
              color: #e31e24; }
      body #header .bottom .row .nhuongquyen {
        padding: 10px 10px;
        border: #e31e24 1px solid;
        border-radius: 3px;
        position: relative;
        float: right;
        margin-right: -10px;
        margin-top: -45px;
        text-decoration: none;
        color: #e31e24;
        font-weight: bold;
        transition: 0.8s; }
        body #header .bottom .row .nhuongquyen:hover {
          box-shadow: 0 2px 20px -2px #e41e26;
          background: #e41e26;
          color: #fff;
          box-shadow: 0 2px 10px -2px #153a67; }
  body #slide {
    height: 100%; }
    body #slide .hhh {
      margin-bottom: 0; }
      body #slide .hhh .slick-next:before {
        content: "\f054";
        font-size: 20px;
        color: #ffffff;
        font: normal normal normal 14px/1 FontAwesome; }
      body #slide .hhh .slick-next {
        top: 50%;
        right: 10%;
        background-color: #aeadb2;
        width: 40px;
        height: 40px; }
        body #slide .hhh .slick-next:hover {
          background-color: #49aa48; }
      body #slide .hhh .slick-prev:before {
        content: "\f053";
        font-size: 20px;
        color: #ffffff;
        font: normal normal normal 14px/1 FontAwesome; }
      body #slide .hhh .slick-prev {
        top: 50%;
        left: 10%;
        z-index: 999;
        background-color: #aeadb2;
        width: 40px;
        height: 40px; }
        body #slide .hhh .slick-prev:hover {
          background-color: #849884; }
      body #slide .hhh .slick-dots li button:before {
        font-size: 30px;
        color: #0466af; }
      body #slide .hhh .img img {
        width: 100%;
        height: auto;
        max-width: 1900px;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      body #slide .hhh .content {
        z-index: 999;
        text-align: right;
        margin-top: 0%;
        right: 20%;
        top: 32%;
        margin-top: -30em; }
        body #slide .hhh .content a {
          font-size: 71px;
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
          text-decoration: none; }
        body #slide .hhh .content .border {
          border-bottom: 3px solid #ffffff;
          width: 72px;
          float: right; }
        body #slide .hhh .content p {
          font-size: 38px;
          color: #333333;
          font-family: 'Roboto', sans-serif;
          font-stretch: condensed;
          margin: 0; }
        body #slide .hhh .content .color {
          color: #e31e24;
          font-size: 46px; }
  body #number {
    background: #153a67;
    height: 120px; }
    body #number .item {
      padding-top: 25px; }
      body #number .item .left {
        padding: 8px;
        border: #6f7173 1px solid;
        border-radius: 3px;
        text-align: center; }
        body #number .item .left p {
          font-size: 18px;
          margin: 0;
          border-bottom: 1px solid #bac0cb;
          color: #ffffff; }
        body #number .item .left a {
          text-decoration: none;
          color: #ffffff; }
      body #number .item .right {
        color: #ffffff;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        font-stretch: condensed; }
  body #GioiThieu {
    padding-top: 75px;
    padding-bottom: 30px; }
    body #GioiThieu .left h4 {
      color: #e31e24;
      font-size: 22px;
      font-family: 'Roboto', sans-serif;
      font-stretch: condensed; }
    body #GioiThieu .left .slogan {
      font-family: 'Roboto', sans-serif;
      font-stretch: condensed;
      font-size: 40px;
      color: #153a67; }
    body #GioiThieu .left p {
      font-family: 'Roboto', sans-serif;
      font-stretch: condensed;
      font-size: 15px;
      color: #666666;
      padding: 10px 0; }
    body #GioiThieu .left a {
      padding: 18px 30px 15px 30px;
      border: #153a67 1px solid;
      color: #153a67;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      border-radius: 3px;
      line-height: 75px;
      transition: 0.8s; }
      body #GioiThieu .left a:hover {
        box-shadow: 0 2px 20px -2px #153a67;
        background: #153a67;
        color: #ffffff; }
    body #GioiThieu .right img {
      margin-top: -35px; }
  body #video {
    background: url("img/Bgr-01.png") center no-repeat;
    background-size: cover; }
    body #video .content {
      padding-bottom: 2%;
      z-index: 999;
      top: 20%;
      text-align: center;
      position: relative;
      padding-top: 5%; }
      body #video .content p {
        color: #fff;
        font-family: 'Roboto', sans-serif;
        padding-top: 10px;
        padding-bottom: 10px; }
      body #video .content .Big {
        font-size: 28px;
        font-weight: bold;
        font-stretch: condensed;
        padding-top: 20px; }
  body #pick {
    padding-top: 100px; }
    body #pick h3 {
      font-size: 40px;
      color: #153a67;
      font-weight: bold;
      font-stretch: condensed;
      text-align: center; }
    body #pick .border {
      text-align: center;
      padding-bottom: 25px; }
    body #pick .item .left {
      float: left;
      font-size: 100px;
      color: #ebebeb; }
    body #pick .item .right {
      padding-left: 5px;
      margin-top: 35px; }
      body #pick .item .right .Big {
        color: #e31e24;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-stretch: condensed; }
      body #pick .item .right p {
        color: #666666; }
  body #ChuongTrinh {
    height: 100%; }
    body #ChuongTrinh .top {
      padding-top: 120px; }
      body #ChuongTrinh .top h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        color: #153a67;
        font-weight: bold;
        font-stretch: condensed;
        text-align: center; }
      body #ChuongTrinh .top .border {
        text-align: center;
        padding-bottom: 25px; }
      body #ChuongTrinh .top .title {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: #999;
        padding-bottom: 30px; }
    body #ChuongTrinh .bottom {
      margin-bottom: 100px;
      text-align: center; }
      body #ChuongTrinh .bottom .row {
        margin: 0; }
      body #ChuongTrinh .bottom .khungAnh {
        max-height: 222px;
        max-width: 555px; }
      body #ChuongTrinh .bottom .khungAnh:before {
        padding-bottom: 40.43%; }
      body #ChuongTrinh .bottom a {
        padding-top: 20px;
        color: #999;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 30px;
        text-decoration: none; }
      body #ChuongTrinh .bottom .Big {
        padding-top: 30px;
        color: #153a67;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: bold;
        font-stretch: condensed;
        padding-bottom: 0;
        line-height: 60px; }
        body #ChuongTrinh .bottom .Big:hover {
          color: #e31e24; }
      body #ChuongTrinh .bottom .click {
        padding: 10px 20px;
        border: 1px solid #153a67;
        color: #153a67;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 3px;
        text-decoration: none;
        transition: 0.8s;
        line-height: 80px; }
        body #ChuongTrinh .bottom .click:hover {
          background: #153a67;
          color: #fff;
          box-shadow: 0 2px 20px -2px #153a67; }
  body #ThanhTuu {
    margin-top: 5em;
    padding-bottom: 2em;
    background: url("img/bg-02.jpg") center no-repeat;
    background-size: cover; }
    body #ThanhTuu .content {
      position: relative; }
      body #ThanhTuu .content .top {
        padding-top: 3%; }
        body #ThanhTuu .content .top .Big {
          font-family: 'Roboto', sans-serif;
          font-size: 40px;
          color: #fff;
          font-weight: bold;
          font-stretch: condensed;
          text-align: center; }
        body #ThanhTuu .content .top p {
          font-family: 'Roboto', sans-serif;
          font-size: 15px;
          color: #bac0cb;
          text-align: center; }
      body #ThanhTuu .content .bottom .item p {
        color: #bac0cb;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        padding-top: 20px;
        padding-left: 20px;
        float: left;
        font-stretch: condensed;
        font-size: 16px; }
      body #ThanhTuu .content .bottom .item .Big {
        color: #ffffff;
        float: left;
        font-size: 40px;
        font-weight: bold;
        padding-top: 0px;
        padding-left: 0px; }
      body #ThanhTuu .content .bottom .item .border {
        border-bottom: 1px solid #e41e26;
        width: 40px;
        padding-top: 20%; }
  body #HuanLuyenVien {
    padding-top: 5%;
    padding-bottom: 5%; }
    body #HuanLuyenVien .slick-dots li {
      background: #d6d6d6;
      width: 10px;
      height: 10px; }
      body #HuanLuyenVien .slick-dots li button {
        display: none; }
      body #HuanLuyenVien .slick-dots li button:before {
        font-size: 30px;
        color: #0466af;
        content: ""; }
    body #HuanLuyenVien .slick-dots .slick-active {
      background: #e41e26; }
    body #HuanLuyenVien .DoiNgu .top h3 {
      font-size: 40px;
      color: #153a67;
      font-weight: bold;
      font-stretch: condensed;
      text-align: center; }
    body #HuanLuyenVien .DoiNgu .top .border {
      text-align: center;
      padding-bottom: 25px; }
    body #HuanLuyenVien .DoiNgu .bottom .name {
      padding: 25px 10px 3px 10px;
      border-top: 5px solid #153a67;
      background: #f5f5f5; }
      body #HuanLuyenVien .DoiNgu .bottom .name a {
        color: #333333;
        font-size: 16px;
        font-weight: bold;
        font-stretch: condensed; }
    body #HuanLuyenVien .DoiNgu .bottom p {
      color: #666666;
      font-size: 14px; }
    body #HuanLuyenVien .item {
      position: relative;
      z-index: 1;
      overflow: hidden; }
    body #HuanLuyenVien .viet {
      overflow: hidden;
      position: absolute;
      bottom: -229px;
      background-color: #153a67;
      transition: 0.5s;
      opacity: 0.96;
      margin-top: -55%;
      width: 90%;
      padding: 15px; }
      body #HuanLuyenVien .viet .name1 a {
        color: #ffffff;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-stretch: condensed;
        text-decoration: none; }
      body #HuanLuyenVien .viet .name1 p {
        color: #3075ca;
        font-size: 12px;
        padding: 10px 0px 10px 0px;
        font-family: 'Roboto', sans-serif; }
      body #HuanLuyenVien .viet .content p {
        color: #bac0cb;
        font-family: 'Roboto', sans-serif;
        font-size: 14px; }
    body #HuanLuyenVien .item:hover > .viet {
      bottom: 0px; }
  body #CamNhan {
    padding-top: 3%;
    padding-bottom: 3%;
    background: url("img/bgrCamNhan.jpg") no-repeat center; }
    body #CamNhan .feel {
      /*.slick-prev{
                display:none;
            } 
            .slick-next:before{
                display:none;
            }*/ }
      body #CamNhan .feel button {
        display: none !important; }
      body #CamNhan .feel .slick-dots li {
        background: #b3272a;
        width: 10px;
        height: 10px; }
        body #CamNhan .feel .slick-dots li button {
          display: none !important; }
        body #CamNhan .feel .slick-dots li button:before {
          font-size: 30px;
          color: #0466af;
          content: ""; }
      body #CamNhan .feel .slick-dots .slick-active {
        background: #e47174; }
    body #CamNhan .top {
      text-align: center; }
      body #CamNhan .top h3 {
        padding-bottom: 20px;
        color: #FFF;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        font-stretch: condensed; }
    body #CamNhan .bottom .name .left {
      float: left; }
    body #CamNhan .bottom .name .right {
      float: left; }
      body #CamNhan .bottom .name .right p {
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        color: #FFF;
        padding-left: 20px; }
      body #CamNhan .bottom .name .right .Big {
        color: #FFF;
        padding-top: 18px;
        font-size: 17px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        font-stretch: condensed; }
    body #CamNhan .bottom .border {
      width: 30PX;
      height: 30px;
      background: url("img/AROWTOP.png") no-repeat center;
      padding-left: 70px; }
    body #CamNhan .bottom .desc {
      margin-top: -6px;
      padding: 10px;
      border: 1px dashed #ea8d90;
      margin-right: 16px; }
  body #new {
    padding-top: 3%;
    padding-bottom: 3%; }
    body #new .top {
      text-align: center;
      padding-top: 3%; }
      body #new .top h3 {
        color: #153a67;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        font-stretch: condensed; }
    body #new .bottom {
      padding-top: 3%; }
      body #new .bottom .item {
        /*&:hover>.khungAnhCrop,.desc{
                 box-shadow: 0 2px 10px -2px $blue;*/
        /*}*/ }
        body #new .bottom .item .border {
          box-shadow: 0 0 8px #bac0cb;
          transition: 0.8s; }
          body #new .bottom .item .border:hover {
            box-shadow: 2px 19px 44px 8px #e5e9ef; }
      body #new .bottom .item:hover > .Big {
        color: #e31e24; }
      body #new .bottom .khungAnh {
        max-height: 162px; }
        body #new .bottom .khungAnh .khungAnhCrop {
          box-sizing: border-box; }
          body #new .bottom .khungAnh .khungAnhCrop img {
            width: 100%; }
      body #new .bottom .khungAnh:before {
        padding-bottom: 61.43%; }
      body #new .bottom .desc {
        box-sizing: border-box;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        /*&:hover{
                 box-shadow: 0 2px 10px -2px $blue;*/
        /*}*/ }
        body #new .bottom .desc .Big {
          color: #333333;
          font-size: 16PX;
          font-weight: bold;
          font-family: 'Roboto', sans-serif;
          font-stretch: condensed; }
          body #new .bottom .desc .Big:hover {
            color: #e31e24;
            text-decoration: none; }
      body #new .bottom p {
        padding-top: 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: #666666; }
  body #Action .top {
    background: url("img/bgrAcTion.jpg") center no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 2%;
    height: 100%; }
    body #Action .top h3 {
      color: #ffffff;
      font-size: 40px;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      font-stretch: condensed; }
    body #Action .top .border {
      text-align: center;
      padding-bottom: 25px; }
    body #Action .top p {
      color: #bac0cb;
      font-family: 'Roboto', sans-serif;
      font-size: 15px; }
  body #Action .center .item {
    float: left;
    margin: auto;
    width: 20%; }
    body #Action .center .item .khungAnh {
      max-width: 380px;
      max-height: 328px; }
  body #Action .bottom {
    padding-top: 19%;
    padding-bottom: 3%; }
    body #Action .bottom .item {
      float: left; }
      body #Action .bottom .item a {
        padding: 15px 16px 15px 20px; }
  body #footer {
    background: url("img/bgrFotter.jpg") no-repeat center;
    background-size: cover; }
    body #footer .left, body #footer .center, body #footer .fanpage {
      padding-top: 5%;
      padding-bottom: 10%; }
      body #footer .left .title, body #footer .center .title, body #footer .fanpage .title {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-weight: bold;
        font-stretch: condensed;
        padding-bottom: 3%; }
      body #footer .left p, body #footer .center p, body #footer .fanpage p {
        color: #bac0cb;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        padding-top: 8px; }
        body #footer .left p a, body #footer .center p a, body #footer .fanpage p a {
          color: #e31e24;
          text-decoration: none; }
      body #footer .left .Big, body #footer .center .Big, body #footer .fanpage .Big {
        text-transform: uppercase; }
    body #footer .left .call {
      background: #336b9c;
      padding: 5px 40px 5px 9px;
      position: absolute; }
      body #footer .left .call .left {
        float: left;
        padding: 0; }
      body #footer .left .call .right {
        float: left; }
        body #footer .left .call .right p {
          padding-left: 10px;
          margin-bottom: 0; }
        body #footer .left .call .right .Big {
          padding-top: 0;
          font-weight: bold;
          font-size: 20px;
          color: #bac0cb; }
    body #footer .center .menu ul {
      -webkit-padding-start: 0px; }
      body #footer .center .menu ul li {
        list-style-type: none;
        line-height: 30px; }
        body #footer .center .menu ul li a {
          color: #bac0cb;
          font-family: 'Roboto', sans-serif;
          text-decoration: none; }
          body #footer .center .menu ul li a:hover {
            color: #5481d4; }
    body #footer .fanpage {
      padding-bottom: 7%; }
      body #footer .fanpage .title {
        padding-bottom: 5%; }
      body #footer .fanpage a {
        color: #e31e24;
        font-size: 30px; }
        body #footer .fanpage a:hover {
          color: #337ab7; }
  body #coppyright {
    background-color: #0e2036;
    height: 50px; }
    body #coppyright p {
      font-size: 15px;
      color: #bac0cb;
      padding-top: 15px; }
    body #coppyright .right {
      text-align: right; }
  body .chat {
    background: #0e2036;
    border-radius: 3px;
    z-index: 99999;
    width: 14%;
    HEIGHT: 5%;
    padding: 17px 0px 14px 32px;
    position: fixed;
    bottom: 0;
    right: 0;
    color: #ffffff; }
    body .chat i {
      float: left;
      margin-right: 10px; }
    body .chat p {
      float: left;
      margin-right: 20px; }
  body .hotro {
    color: #ffffff;
    background: #e41e26;
    -webkit-transform: rotate(-90deg);
    position: fixed;
    z-index: 99999;
    border-radius: 3px;
    top: 50%;
    height: 40px;
    right: -79px;
    width: 200px;
    padding: 6px; }
    body .hotro p {
      float: left;
      margin-right: 3px;
      font-size: 16px;
      font-stretch: condensed;
      font-weight: bold;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif; }
  @media (max-width: 1359px) {
    body {
      /*B?t ??u t? 1200 tính t??ng ?ng v?i tr??ng h?p l?n h?n tablet - b?t ??u c?a PC - th??ng là 4 ho?c 5 c?t*/ } }
  @media (max-width: 1199px) {
    body {
      /*B?t ??u t? 992 tính t??ng ?ng v?i tr??ng h?p tablet quay ngang - th??ng là 3 ho?c 4 c?t*/ }
      body .none-tb {
        display: none; }
      body #header .top p {
        font-size: 12px; }
      body #header .top .right {
        text-align: right;
        width: 33% !important; }
      body #header .bottom .center .menu {
        display: none !important; }
      body #header .bottom .center .dropdown {
        display: block !important;
        float: right;
        margin-top: 1em; }
        body #header .bottom .center .dropdown .btn {
          color: #ffffff;
          text-align: center;
          font-weight: bold;
          background: #e41e26;
          padding: 9px 13px; }
        body #header .bottom .center .dropdown .dropdown-menu {
          right: -27px !important;
          top: 175%;
          left: auto; }
          body #header .bottom .center .dropdown .dropdown-menu li a {
            line-height: 34px;
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            border-bottom: 1px solid #e41e26;
            font-weight: bold;
            color: black; }
      body #header .bottom .center .nhuongquyen {
        float: left;
        margin-left: 43em;
        margin-top: 13px; }
      body #slide .slick-prev {
        top: 50% !important;
        left: 5% !important; }
      body #slide .slick-next {
        top: 50% !important;
        right: 5% !important; }
      body #slide .content {
        margin-top: -16em !important;
        padding-right: 90px; }
        body #slide .content .title a {
          font-size: 33px !important; }
        body #slide .content p {
          font-size: 18px !important; }
      body #number .item {
        width: 50% !important; }
      body #GioiThieu {
        padding-top: 3% !important;
        padding-bottom: 3% !important; }
        body #GioiThieu .left {
          width: 100% !important; }
      body #video .content {
        padding-top: 2% !important; }
        body #video .content .Big {
          font-size: 28px !important;
          padding-top: 0px; }
        body #video .content p {
          padding-top: 0; }
      body #ChuongTrinh .top {
        padding-top: 0; }
      body #ChuongTrinh .bottom .img {
        width: 95%; }
        body #ChuongTrinh .bottom .img img {
          width: 100%; }
      body #ThanhTuu .img img {
        height: 20em; }
      body #ThanhTuu .bottom .border {
        padding-top: 28% !important; }
      body #HuanLuyenVien .slick-prev {
        display: none !important; }
      body #HuanLuyenVien .slick-next {
        display: none !important; }
      body #HuanLuyenVien .item img {
        width: 100%; }
      body #HuanLuyenVien .viet {
        margin-top: -77%;
        width: 88%;
        bottom: -249px; }
      body #CamNhan .slick-prev {
        display: none !important; }
      body #CamNhan .slick-next {
        display: none !important; }
      body #CamNhan .top h3 {
        padding-top: 0; }
      body #CamNhan .row {
        margin: 0 !important; }
      body #CamNhan .desc {
        margin-right: 0 !important; }
      body #new .top {
        padding-top: 0; }
      body #new .khungAnh {
        max-height: 134px !important; }
      body #coppyright {
        height: 100%; }
        body #coppyright p {
          padding: 0; }
        body #coppyright .left {
          width: 100% !important; }
        body #coppyright .right {
          text-align: left; } }
  @media (max-width: 991px) {
    body {
      /*B?t ??u t? 768 tính t??ng ?ng v?i tr??ng h?p tablet d?ng d?c - th??ng là 2 ho?c 3 c?t*/ }
      body .none-ipad {
        display: none;
        width: 0; }
      body #header .bottom .center .dropdown .dropdown-menu {
        right: -8px !important; }
      body #header .top .left {
        width: 22% !important; }
      body #header .top .right {
        width: 50% !important; }
      body #header .bottom {
        margin-top: -35px; }
        body #header .bottom .center .nhuongquyen {
          margin-left: 13em !important;
          margin-top: 2em !important; }
        body #header .bottom .center .dropdown {
          margin-top: 2em !important; }
          body #header .bottom .center .dropdown .dropdown-menu {
            top: 142% !important; }
      body #slide .content {
        margin-top: -14em !important; }
      body #video .img img {
        height: 20em; }
      body #video .content .Big {
        padding-top: 18px;
        padding-bottom: 11px; }
      body #video .content {
        padding-top: 8% !important;
        padding-bottom: 8%; }
      body #pick {
        padding-top: 50px; }
      body #ThanhTuu .bottom {
        padding-left: 5em; }
        body #ThanhTuu .bottom p {
          float: none !important;
          padding-top: 0 !important;
          padding-left: 0 !important; }
        body #ThanhTuu .bottom .Big {
          float: none !important;
          margin: 0; }
        body #ThanhTuu .bottom .border {
          padding-top: 0% !important; }
      body #HuanLuyenVien .viet {
        margin-top: -75%; }
      body #Action .center .item {
        width: 50%; }
      body #footer .left .call {
        padding: 5px 3px 5px 9px; }
      body #coppyright {
        height: 100%; }
        body #coppyright p {
          margin: 0; }
        body #coppyright .right {
          text-align: left; } }
  @media (max-width: 767px) {
    body {
      /*B?t ??u t? 480 tính t??ng ?ng v?i tr??ng h?p mobile quay ngang - th??ng là 2 c?t*/ }
      body .none-mb {
        display: none;
        width: 0; }
      body #number .item .left {
        width: 11%; }
      body #header .top .left {
        width: 100% !important;
        padding-left: 40px; }
      body #header .top .center {
        padding-left: 5em; }
      body #header .bottom {
        margin-top: 0px; }
        body #header .bottom .row {
          padding-top: 0; }
        body #header .bottom .left {
          padding-left: 5em; }
        body #header .bottom .center .dropdown {
          margin-right: 4em; }
        body #header .bottom .center .nhuongquyen {
          margin-left: 4em !important;
          margin-top: 2em !important; }
      body #number .item {
        width: 100% !important; }
      body #pick {
        padding-top: 25px; }
        body #pick .item {
          padding-left: 17%; }
          body #pick .item .right {
            padding-left: 70px;
            margin-top: 45px; }
      body #ChuongTrinh .bottom {
        padding-left: 28px; }
        body #ChuongTrinh .bottom .right {
          padding-bottom: 50px; }
        body #ChuongTrinh .bottom .left {
          padding-bottom: 50px; }
      body #ThanhTuu .img img {
        height: 26em; }
      body #ThanhTuu .bottom {
        padding-left: 0; }
        body #ThanhTuu .bottom .item {
          padding-left: 20%; }
      body #HuanLuyenVien .viet {
        margin-top: -95px;
        bottom: -285px; }
      body #CamNhan .bottom .name .right {
        float: none; }
      body #new .khungAnh {
        max-height: 392px !important; }
      body #HuanLuyenVien .viet {
        margin-top: -185px; }
      body #CamNhan .top h3 {
        padding-bottom: 34px; }
      body #Action .bottom .item {
        padding-left: 15%; }
      body #footer iframe {
        width: 100%; } }
  @media (max-width: 479px) {
    body {
      /*B?t ??u t? mobile, t?c css vi?t ngoài cùng là css cho tr??ng h?p mobile d?ng d?c - th??ng là 1 c?t, padding left right 15px*/ }
      body .none-ip {
        display: none;
        width: 0; }
      body #number .item .left {
        width: 16%;
        padding: 7px !important; }
      body #header .top .center {
        padding-left: 2em; }
      body #header .bottom .center .dropdown {
        margin-top: 1.5em !important; }
      body #slide .slick-prev {
        display: none !important; }
      body #slide .slick-next {
        display: none !important; }
      body #slide .hhh .img img {
        height: 20em; }
      body #slide .hhh .content {
        margin-top: -16em !important;
        padding-right: 46px !important; }
      body #number .item .left {
        padding: 10px; }
      body #video .img img {
        height: 26em; }
      body #ChuongTrinh .bottom {
        padding-left: 0; }
      body #ThanhTuu .bottom {
        padding-left: 0; }
      body #new .khungAnh {
        max-height: 212px !important; }
      body #pick .item {
        padding-left: 7%; }
      body #ChuongTrinh .top .title {
        padding: 0 30px 18px 30px; }
      body #ChuongTrinh .top h3 {
        font-size: 30px; }
      body #ChuongTrinh .bottom .Big {
        padding-top: 20%; }
      body #ChuongTrinh .bottom .row {
        margin: 0; }
      body #ChuongTrinh .bottom p {
        padding: 0 9px;
        padding-bottom: 20px; }
      body #HuanLuyenVien .DoiNgu .top h3 {
        padding: 10px; }
      body #ThanhTuu .content {
        padding-top: 50px;
        padding-bottom: 50px; }
      body #HuanLuyenVien .viet {
        margin-top: -105px; }
      body #HuanLuyenVien {
        padding-bottom: 15%; }
      body #CamNhan .top h3 {
        padding-top: 20px; }
      body #CamNhan {
        padding-bottom: 60px; }
      body #ChuongTrinh .bottom .right {
        padding-bottom: 0; }
      body #new .top h3 {
        font-size: 30px; }
      body #Action .top h3 {
        font-size: 30px; }
      body #new .bottom .desc {
        padding: 30px; }
      body #Action .bottom .item {
        padding-left: 4%; }
      body #new {
        padding-top: 8%;
        padding-bottom: 20%; }
      body #video .content {
        padding-top: 25% !important;
        padding-bottom: 22%; }
      body #footer .left, body .center, body .fanpage {
        padding-bottom: 0% !important; }
      body #newcall {
        display: block !important; }
        body #newcall .call {
          background: #336b9c;
          padding: 5px 34px 5px 9px;
          position: absolute; }
          body #newcall .call .left {
            float: left;
            padding: 0; }
          body #newcall .call .right {
            float: left; }
            body #newcall .call .right p {
              padding-left: 10px;
              margin-bottom: 0; }
            body #newcall .call .right .Big {
              padding-top: 0;
              font-weight: bold;
              font-size: 20px;
              color: #bac0cb; } }

